.container-header {
    .navBar {
        margin: 5vh auto;
        padding: 0;
        background-image: linear-gradient(to right,#FFF 400px, #641d8b);
        width: 100%;
        
        img {
            width: 300px;
            margin-left: 100px;
        }
    }
}