.container-home {
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    grid-template-rows: 220px max-content;
    grid-template-columns: .8fr 2.5fr;
    grid-template-areas: 
    "header header "
    "nav div";

    .header {
        grid-area: header;
    }
    
    .nav{
        grid-area: nav;
        margin-top: 60px;
        
    }
    
    div {
        grid-area: div;
        margin-top: 60px;
    }
}
